body{
  background-color: #ffffff;
  color: black;
  font-size: 16px;
  line-height: 1.6em;
  margin:0;
  padding: 0;
}

/* .container{
  width: 80%;
  margin: auto;
  overflow: hidden;
  text-align: center;
} */
.Sports{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 35px;
  grid-row-gap: 15px;
  margin: 0 auto;
  max-width: 80%;
}

.Contact{
  display: grid;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100px;
  min-width: 100px;
  background-color: #000000;
  color: #fff;
  box-shadow: -1px 7px 28px -9px rgba(0,0,0,0.32);
  padding-right: 0px;
  padding-top: 0px;
  padding-left: 0px;
  text-align: center;
  font-size: 26px;
  margin: 0 auto;
  max-width: 80%;

}

.Contact-Header{
  background-position: right;
  background-repeat: no-repeat;
  background-color: #fff;
  color: #000000;
  text-align: center;
  font-size: 28px;
  margin: auto;
  height: 150px;
  padding: 20px 0;

}

.Bottom-Card1{
  color: black;
  background-color: white;
  box-shadow: -1px 7px 28px -9px rgba(0,0,0,0.32);
  padding-right: 0px;
  padding-top: 0px;
  padding-left: 10px;
  text-align: justify;

}

.Main-Header{
  background-color: black;
  color: white;
  text-align: center;
  font-size: 18px;
  margin: auto;
  background-image: url('spurs 2.jpg');
  background-position: left;
  height: 80px;
  background-repeat: no-repeat;
  padding: 20px 0;
}

.Card-Header{
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;

}

#main-footer{
  text-align: center;
  font-size: 15px;
}

.profile-pic{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid #000000;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 120px;

}

.Top-Card{
  background-size: 70%;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 200px;
  min-width: 200px;
  display: block;
  background-color: #000000;

}

.AboutMe{
  color: black;
  font-style: normal;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  position: relative;
  background: #ffffff;
  grid-area: 1 / 3 / 2 / 4;
  box-shadow: -1px 7px 28px -9px rgba(0,0,0,0.32);
  padding-right: 0px;
  padding-top: 0px;
  padding-left: 0px;
  text-align: center;

}

.Top-Card1{
  background-size: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  min-height: 200px;
  min-width: 200px;
  background-color: #000000;

}

.Blog1{
  color: black;
  font-style: normal;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  position: relative;
  background: #ffffff;
  box-shadow: -1px 7px 28px -9px rgba(0,0,0,0.32);
  padding-right: 0px;
  padding-top: 0px;
  padding-left: 0px;
  grid-area: 1 / 1 / 2 / 3;
  text-align: center;

}
.Top-Card2{
  background-size: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  min-height: 200px;
  min-width: 200px;
  background-color: #000000;

}


.Blog2{
  text-align: center;
  grid-area: 2 / 1 / 2 / 1;
  color: black;
  font-style: normal;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  position: relative;
  background: #ffffff;
  box-shadow: -1px 7px 28px -9px rgba(0,0,0,0.32);
  padding-right: 0px;
  padding-top: 0px;
  padding-left: 0px;
}

.Blog3{
  text-align: center;
  grid-area: 2 / 2 / 3 / 3;
  color: black;
  font-style: normal;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  position: relative;
  background: #ffffff;
  box-shadow: -1px 7px 28px -9px rgba(0,0,0,0.32);
  padding-right: 0px;
  padding-top: 0px;
  padding-left: 0px;
}

.Blog4{
  text-align: center;
  grid-area: 2 / 3 / 3 / 3;
  color: black;
  font-style: normal;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  position: relative;
  background: #ffffff;
  box-shadow: -1px 7px 28px -9px rgba(0,0,0,0.32);
  padding-right: 0px;
  padding-top: 0px;
  padding-left: 0px;

}

/* hover drop menu*/
.navbar {
  overflow: hidden;
  background-color: #000;

}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 19px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  display: block;

}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #000;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.ReadMore{
  border-style: ridge;
  border-width: thin;
  background-color: #fff;
  color: #000;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 2px 2px;
  border-radius: 2px;
  font-size: 8px;

}


/* Dont ever target href like this

a[href="story1.html"]{
  border-style: solid;
  border-color: red;
  color: yellow;

}
*/

@media only screen and (min-width:601px) and (max-width:992px) {
  /* tablet size rules */
  body{
    background-color: #ffffff;
  }
}
@media only screen and (min-width:50px) and (max-width:600px) {
  /* mobile size rules */
  .Sports{
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
    .AboutMe{
      grid-area: initial;
    }
    .Blog1{
      grid-area: initial;
    }
    .Blog2{
      grid-area: initial;
    }
    .Blog3{
      grid-area: initial;
    }
    .Blog4{
      grid-area: initial;
    }
    .Contact-Header{
      grid-area: initial;
    }
}


/* * { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); } */
