body{
  background-color: #ffffff;
  color: black;
  font-size: 16px;
  line-height: 1.6em;
  margin:0;
  padding: 0;
}

/* .container{
  width: 80%;
  margin: auto;
  overflow: hidden;
  text-align: center;
} */
.Sports{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 35px;
  grid-row-gap: 15px;
}
.Main-Header{
  background-color: black;
  color: white;
  text-align: center;
  font-size: 18px;
  margin: auto;
  background-image: url('spurs 2.jpg');
  background-position: left;
  height: 80px;
  background-repeat: no-repeat;
  padding: 20px 0;
}

.Card-Header{
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;

}

#navbar{
  background-color: #ffffff;
  color: #000000;

}

#navbar ul{
  padding:0;
  list-style: none;
  text-align: right;
  color: #000000;

}

#navbar li{
  display: inline;
}

#navbar a{
  color: ;
  text-decoration: none;
  font-size: 24px;
  padding-right:15px;
}

#main-footer{
  text-align: center;
  font-size: 10px;
}

.profile-pic{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid #000000;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 67.5px;

}

.Top-Card{
  background-size: 70%;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 150px;
  min-width: 200px;
  display: block;
  background-color: #000000;

}

.AboutMe{
  color: black;
  font-style: normal;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  position: relative;
  background: #ffffff;
  grid-area: 1 / 3 / 2 / 4;
  box-shadow: -1px 7px 28px -9px rgba(0,0,0,0.32);
  padding-right: 0px;
  padding-top: 0px;
  padding-left: 0px;
  text-align: center;

}

.Top-Card1{
  background-size: 70%;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  min-height: 150px;
  min-width: 200px;
  background-color: #000000;

}

.Blog1{
  color: black;
  font-style: normal;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  position: relative;
  background: #ffffff;
  box-shadow: -1px 7px 28px -9px rgba(0,0,0,0.32);
  padding-right: 0px;
  padding-top: 0px;
  padding-left: 0px;
  grid-area: 1 / 1 / 2 / 3;
  text-align: center;

}
.Top-Card2{
  background-size: 80%;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  min-height: 150px;
  min-width: 200px;
  background-color: #000000;

}


.Blog2{
  text-align: center;
  grid-area: 2 / 1 / 2 / 1;
  color: black;
  font-style: normal;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  position: relative;
  background: #ffffff;
  box-shadow: -1px 7px 28px -9px rgba(0,0,0,0.32);
  padding-right: 0px;
  padding-top: 0px;
  padding-left: 0px;
}

.Blog3{
  text-align: center;
  grid-area: 2 / 2 / 3 / 3;
  color: black;
  font-style: normal;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  position: relative;
  background: #ffffff;
  box-shadow: -1px 7px 28px -9px rgba(0,0,0,0.32);
  padding-right: 0px;
  padding-top: 0px;
  padding-left: 0px;
}

.Blog4{
  text-align: center;
  grid-area: 2 / 3 / 3 / 3;
  color: black;
  font-style: normal;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  position: relative;
  background: #ffffff;
  box-shadow: -1px 7px 28px -9px rgba(0,0,0,0.32);
  padding-right: 0px;
  padding-top: 0px;
  padding-left: 0px;

}

/* * { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); } */
